In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [3]:
df = pd.read_csv('dataset.csv')
df.head()

   index       name sex
0      0       Mary   F
1      1       Anna   F
2      2       Emma   F
3      3  Elizabeth   F
4      4     Minnie   F

In [4]:
df.shape

(95025, 3)

In [5]:
df.size

285075

In [6]:

df.dtypes

index     int64
name     object
sex      object
dtype: object

In [7]:
df.isnull().isnull().sum()

index    0
name     0
sex      0
dtype: int64

In [8]:
df[df.sex == 'F'].size

181800

In [9]:
df[df.sex == 'M'].size

103275

In [10]:
df_names = df
df_names

         index       name sex
0            0       Mary   F
1            1       Anna   F
2            2       Emma   F
3            3  Elizabeth   F
4            4     Minnie   F
...        ...        ...  ..
95020  1858664   Zecharya   M
95021  1858676     Ziheng   M
95022  1858679       Ziyu   M
95023  1858686      Zykir   M
95024  1858688       Zyus   M

[95025 rows x 3 columns]

In [11]:
df_names.sex.replace({'F':0,'M':1},inplace=True)
Xfeatures =df_names['name']

In [12]:
cv = CountVectorizer()
X = cv.fit_transform(Xfeatures)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X
y = df_names.sex
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [15]:
from sklearn.naive_bayes import MultinomialNB 

clf = MultinomialNB()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.6360230668855495

In [30]:
def predict(a):
    test_name = [a]
    vector = cv.transform(test_name).toarray()
    if clf.predict(vector) == 0:
        print("Female")
    else:
        print("Male")

In [33]:
import joblib

naiveBayesModel = open("model/naivemodel.pkl","wb")
joblib.dump(clf,naiveBayesModel)
naiveBayesModel.close()